/* all elements on page */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Set link color for whole page */
a {
    color: #ffffff;
    text-decoration: none;
}

/* Set paragraph font size for whole page*/
p {
    font-size: 16px;
}

/* Begin body area */
body {
    background-color: #d9dcd6;
}

/* Begin header area */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* all <h1> in <header> display and font properties */
header h1 {
    display: inline-block;
    font-size: 48px;
}

/* render accent color on "seo" portion of logo in <header> */
header h1 .logo-accent-color {
    color: #d9dcd6;
}

/* nav elements properties */
header nav{
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* remove bullet points from <ul> in <nav> in <header> */
header nav ul {
    list-style-type: none;
}

/* set display type and margin for <li>'s in <ul> */
header nav ul li {
    display: inline-block;
    margin-left: 25px;
}
/* end header specific area */

/* marketing meeting image under header */
#meeting-image {
    height: auto;
    width: 100%;
    margin-bottom: 25px;
}

/* properties for main element */
main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* all <sections> in <main> properties */
main section {
	margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* all <img> in <section> in <main> properties */
main section img {
	max-height: 200px;
}

/* all <h2> in <section> in <main> properties */
main section h2 {
	margin-bottom: 20px;
    font-size: 36px;
}

/* float image in section left */
main section .float-left {
    float: left;
    margin-right: 25px;
}

/* float image in section right */
main section .float-right {
    float: right;
    margin-left: 25px;
}

/* beginning of aside */
aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* all <section> in <aside> properties */
aside section {
	margin-bottom: 32px;
    color: #ffffff;
}

/* all <h3> in <section> in <aside> properties */
aside section h3 {
	margin-bottom: 10px;
    text-align: center;
}

/* all <img> in <section> in <aside> */
aside section img {
	display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* end aside */

/* begin footer */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* <h2> in <footer> font size */
footer h2 {
    font-size: 20px;
}
/* end footer */
